@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: gray !important;
}

/* nav bar */

.navbar-brand span,
.carousel-caption h1,
#service .text-design,
#activity .text-center,
#team h1,
#team h2,
#course h1,
#about-us h2,
#contact-us h2 {
  font: bold 40px "Playfair Display", serif;
}
.navbar li a,
#carouselExampleCaptions p,
#service p {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
}
/* slider */

.w-100 {
  height: 100vh;
  object-fit: cover;
}
.carousel-item {
  text-align: center;
  height: 100vh;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7);
}

/* float */

.float-bg {
  background-image: url(img/float-img-2.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.img-top {
  width: 400px;
  height: 400px;
  max-width: 100%;
  border: 2px solid #02ffff;
}
.img-paragraph {
  border: 3px solid #02ffff;
  font: italic bold 25px "Rubik", sans-serif;
}
/* service */
#service {
  text-align: center;
}
#service .text-design {
  font-size: 50px;
}

#service h2 {
  font-size: 50px;
  text-transform: uppercase;
}
#service .card,
.card {
  text-align: center;
  margin: auto;
  border: 3px solid #02ffff;
}

.card-title {
  font-size: 30px;
}
/* team */
.team-img-top {
  width: 250px;
  height: 250px;
  border: 2px solid #02ffff;
  max-width: 100%;
  border-radius: 100%;
}
.team-icon {
  font-size: 40px;
}
#team h2 {
  border-bottom: 3px solid #02ffff;
}

#team p,
#about-us p {
  font: 18px "Rubik", sans-serif;
}
/* activities */
#activity .card {
  position: relative;
  height: 280px;
  border: 2px solid #02ffff;
  border-radius: 8px;
  overflow: hidden;
}
#activity img {
  max-width: 100%;
  border-radius: 8px;
  height: 280px;
}
#activity h2 {
  color: gold;
}

.intro {
  height: 45px;
  padding: 5px;
  box-sizing: border-box;
  position: absolute;
  bottom: 1px;
  background: rgb(27, 27, 27, 0.5);
  transition: 0.5s;
  border-radius: 8px;
}
#activity p {
  font: 18px "Rubik", sans-serif;
  margin: 10px;
  color: white;
}
#activity .card:hover .intro {
  cursor: pointer;
  height: 150px;
  background: rgb(27, 27, 27, 0.5);
  overflow: auto;
}

/* courses */
#course .card {
  box-shadow: 5px 2px 2px;
}
#course td img {
  border: 1px solid#02ffff;
}
table td {
  vertical-align: middle;
}
.courses-card {
  background-image: url(img/courses-bg.jpg);
  background-repeat: no-repeat;
}
.courses-card-img {
  height: 280px;
  width: 300px;
}
.courses-brand {
  font-weight: bold;
  font-size: 20px;
}
.courses-paragraph-one {
  font-size: 30px;
  font-weight: bold;
}
/* about-us */
.about-us-img {
  max-width: 100%;
}
#about-us p {
  font-size: 20px;
}
/* contact-us */
#contact-us .card {
  height: 180px;
}
#contact-us i {
  font-size: 40px;
}
#contact-us h5 {
  font-size: 20px;
}
#contact-us p {
  font-size: 15px;
}
#contact-us img {
  width: 200px;
  height: 200px;
}
/* footer */
footer h3 span {
  font: bold 30px "Playfair Display", serif;
}
footer ul li {
  list-style-type: none;
}
footer a {
  color: black;
  text-decoration: none;
}
.footer-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
