* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* navbar */
#nav-section {
  background-color: #0e0258;
}
#nav-section img {
  height: 80px;
  width: 80px;
}
.list-group {
  border: 2px solid goldenrod;
}
.list-group .active {
  background-color: gold !important;
}
/* main */
main {
  background-color: #2d19ac;
}
main .navbar {
  background-color: #0e0258 !important;
}
main .card-body .icon {
  width: 40px;
  height: 40px;
  border: 1px solid #2d19ac;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 3px;
  background-color: #0e0258;
}
/* footer */

.footer {
  text-align: center;
  background-color: #0e0258;
}
.footer p {
  color: white;
}
.footer span {
  font: italic bold 20px "Playfair Display", serif;
}
